@import 'mixins.scss';

.container{
  width: 100%;
  flex-shrink: 0;
  height: 88px;
  border-bottom: 2px solid #E0E0E0;
}

.header {
  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: $ld_color_gray1
  }
  &__textContent {
    display: flex;
    align-items: center;
  }
  &__text {
    color: $ld_color_gray1;
    @include ld_font_small();
    margin-right: 4px;
  }
}