@import 'mixins.scss';

.container {
  display: flex;
  cursor: pointer;
  min-width: 400px;
  max-width: 400px;
  flex-direction: column;
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 15px 40px 0px #0000001A;
  background-color: $ld_color_hover1;
  &__content {
    background-color: $ld_color_gray5;
    padding-left: 36px;
    padding-top: 32px;
    padding-bottom: 32px;
    flex-grow: 1;
  }
  &__title {
    @include ld_font_subtitle_inner();
    margin-bottom: 20px;
  }
  &__text {
    @include ld_font_small();
  }
}