@import "mixins";

.container {
  flex: 25%;
  max-width: 352px;
  border-right: 1px solid $ld_color_gray4;
  &__tabs {
    display: flex;
  }
  &__content {
    padding: 32px;
    scrollbar-width: none;
    overflow: auto;
  }
  &__emptyRooms {
    margin-top: 50px;
    @include ld_font_h4();
  }
  &__createRoom {
    display: flex;
    justify-content: center;
    margin-top: 70px;
  }
  &__objects {
    &:not(:last-child) {
      border-bottom: 2px solid $ld_color_gray4;
    }
  }
}

.tab {
  cursor: pointer;
  position: relative;
  flex: 1;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $ld_color_gray6;
  &_isActive {
    background-color: $ld_color_darkGreen;
  }
  &__text {
    @include ld_font_menu();
    color: $ld_color_gray3;
    margin-top: 6px;
  }
  &__arrow {
    position: absolute;
    bottom: -1px;
  }
}

.room {
  position: relative;
  width: 100%;
  height: 110px;
  border-radius: 15px;
  padding-top: 15px;
  margin-bottom: 16px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  &__title {
    @include ld_font_menu();
    margin-left: 14px;
  }
  &__book {
    width: 45%;
    position: absolute;
    left: 50px;
    top: 40px;
  }
  &_active {
    border: 2px solid $ld_color_darkGreen;
  }
}

.objectList{
  &__container {
    position: relative;
  }
  &__titleBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 8px;
    @include ld_font_medium();
    cursor: pointer;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  &__point {
    flex: 50%;
    flex-basis: 50%;
    overflow: hidden;
    max-height: 150px;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 2px;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    &:hover{
      padding: 0;
      border: 2px solid $ld_color_hover1;
    }
  }
}